{% extends 'base.html' %}
{% block content %}
<div id="layoutSidenav_content">
    <main>
        <div class="container-fluid px-4">
            <div class="container mt-5">
                <h2 class="border-bottom py-2">답변 수정</h2>
                <form action="{% url 'main:answer_update' answer_id %}" method="post" class="my-3">
                {% csrf_token %}
                {% if form.errors %}
                    <div class="alert alert-danger" role="alert">
                        {% for field in form %}
                            {% if field.errors %}
                                <div>
                                    <strong>{{ field.label }}</strong> {{ field.errors }}
                                </div>
                            {% endif %}
                        {% endfor %}
                    </div>
                {% endif %}
                <div class="mb-3">
                    <label for="content" class="form-label">답변 내용</label>
                    <textarea name="content" id="content" class="form-control" rows="10">{{ form.content.value }}</textarea>
                </div>
                <input type="submit" value="답변 수정" class="btn btn-primary">
                </form>
            </div>
        </div>
    </main>
{% endblock %}
